*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#title {
    height: 5vh;
}


#checkboxes {
    width: 1000px;
    height: 90vh;
    border: 1px solid #DDD;
    padding: 14px 14px;
    margin: 0 auto;
    overflow-y: auto;
}

.checkbox-row {
    display: flex;
    justify-content: space-between;
}

.checkbox-wrapper {
    display: inline;
    /* margin-left: 10px; */
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper label {
    display: inline-flex;
    margin-bottom: 3px;
}

.checkbox-wrapper .cbx {
    position: relative;
    top: 1px;
    width: 25px;
    height: 25px;
    border: 1.2px solid #c8ccd4;
    border-radius: 5px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}

.checkbox-wrapper .cbx:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.checkbox-wrapper .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked~.cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly-42 0.6s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked~.cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

@-moz-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

@-o-keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

@keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}